.TodoItem {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 24px;
  color: red;
  cursor: pointer;
  font-weight: lighter;
  border-bottom: 1px solid lightgray;
}

.TodoItem-complete {
  text-decoration: line-through;
  opacity: .4;
}